<div class="d-flex justify-content-center">
  <h1><%= @cocktail.name %> </h1>
</div>
<div class="d-flex justify-content-center rounded">
  <%= cl_image_tag(@cocktail.photo.key, width: 300, height: 300, class: 'round-tag') %>
</div>
<div class="d-flex justify-content-center pt-1">
  <ul>
    <% @cocktail.doses.each do |dose| %>
    <li> 
      <%= dose.description%> <%= dose.ingredient.name%> 
      <%= link_to  dose_path(dose), method: :delete,  data: { confirm: 'Are you sure?' } do %>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
        </svg>
      <% end %>
    </li>
    <% end %>
  </ul>
</div>
<div class="d-flex justify-content-center">
<%= link_to "Add new doses", new_cocktail_dose_path(@cocktail), :class => "btn btn-primary" %>
</div>